<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/888a0d53-f3c6-441a-9d31-fd101684fc74/resourcegroups/FLightDetailsCrud/providers/Microsoft.Web/sites/FlightDetailsCrud20220629</ResourceId>
    <ResourceGroup>FLightDetailsCrud</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://flightdetailscrud20220629.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>98ef7840-7d41-4878-ba56-79d8b2b51f92</ProjectGuid>
    <PublishUrl>https://flightdetailscrud20220629.scm.azurewebsites.net/</PublishUrl>
    <UserName>$FlightDetailsCrud20220629</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>